<!--@subject PDF Invoice @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var comment":"Invoice Comment",
"var invoice.increment_id":"Invoice Id",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" media="all" href="{{base_url_path}}frontend/_view/{{locale}}/css/email-fonts.css">
    <style type="text/css">
        {{var template_styles|raw}}

        @page {
            size: a4;
            margin: 0;
            padding: 0;
        }

        {{css file="Coedo_PDFCustom::css/ampdf.css"}}
    </style>
</head>
<body>
<div class="ampdf-main-container">
    <div class="ampdf-column">
        <div class="ampdf-content-container">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="text-align: center"><h1>{{trans "Sales Invoice"}}</h1></td>
                </tr>
                <tr>
                    <td style="text-align: center"><em>{{trans "Invoice Date: %created_at" created_at=$invoice.created_at}}</em></td>
                </tr>
                <tr>
                    <td style="text-align: center"><strong>{{trans "Invoice No: #%invoice_id" invoice_id=$invoice.increment_id}}</strong></td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>{{trans "Buyer: %customer_name" customer_name=$order.customer_name}}</p>
                        <p>{{trans "Customer name: %customer_name" customer_name=$order.customer_name}}</p>
                        <p>{{trans "Address: "}}{{var formattedShippingAddress|raw}}</p>
                        <p>{{trans "Telephone: %telephone" telephone=$telephone}}</p>
                        <p>{{trans "Tax code: %tax_code" tax_code=$tax_code}}</p>
                        <p>{{trans "Description: %description" description=$description}}</p>
                        <p>{{trans "Salesman: %salesman" salesman=$salesman}}</p>
                    </td>
                    <td valign="top">
                        <p>{{trans "Owe: %owe" owe=$owe}}</p>
                        <p>{{trans "Exist: %exist" exist=$exist}}</p>
                        <p>{{trans "Currency: %currency" currency=$currency}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="ampdf-table-container" style="margin-top: 20px;padding-right: 20px;">
                {{layout area="frontend" handle="sales_email_order_invoice_items_print" invoice=$invoice order=$order}}
            </div>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p>{{trans "Grand total in words: "}}<strong><em>{{trans "%grand_total_text" grand_total_text=$grand_total_text}}</em></strong></p>
                        <p>Số chứng từ gốc kèm theo: ...................................................................</p>
                        </br>
                        <p style="text-align: right;padding-right: 30px;">Ngày ......... tháng ......... năm ..............</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p style="text-align: center;">
                            <strong>{{trans "Buyer"}}</strong>
                        </p>
                        <p style="text-align: center">
                            <em>{{trans "(Signature, full name)"}}</em>
                        </p>
                    </td>
                    <td>
                        <p style="text-align: center;">
                            <strong>{{trans "Creator"}}</strong>
                        </p>
                        <p style="text-align: center">
                            <em>{{trans "(Signature, full name)"}}</em>
                        </p>
                    </td>
                    <td>
                        <p style="text-align: center;">
                            <strong>{{trans "Control"}}</strong>
                        </p>
                        <p style="text-align: center">
                            <em>{{trans "(Signature, full name, stamp)"}}</em>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
