<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
//phpcs:disable Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace
//phpcs:disable Squiz.WhiteSpace.ScopeClosingBrace.ContentBefore
/** @var \CoedoVendor\OrderPrepare\Helper\Data $helper */
$helper = $this->helper('CoedoVendor\OrderPrepare\Helper\Data');
?>
<?php $_item = $block->getItem() ?>
<tr>
    <td class="col-product"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <?php if ($helper->isModuleOutputEnabled("BoostMyShop_AdvancedStock")): ?>
    <td class="col-warehouse"><?= $helper->getWarehouse($_item) ?></td>
    <td class="col-packed-qty"><?= $helper->getPackedQty($_item) ?></td>
    <?php endif; ?>
    <td class="col-ordered-qty"><?= $block->getColumnHtml($_item, 'qty') ?></td>
    <td class="col-qty <?php if ($block->isShipmentRegular()) : ?>last<?php endif; ?>">
        <?php if ($block->canShipPartiallyItem()) : ?>
            <input type="text"
                   class="input-text admin__control-text qty-item"
                   name="shipment[items][<?= (int) $_item->getOrderItemId() ?>]"
                   value="<?= /* @noEscape */ $_item->getQty()*1 ?>" />
        <?php else : ?>
            <?= /* @noEscape */ $_item->getQty()*1 ?>
        <?php endif; ?>
    </td>
    <?php if (!$block->canShipPartiallyItem()) : ?>
    <td class="col-ship last">
        <input type="hidden" name="shipment[items][<?= (int) $_item->getOrderItemId() ?>]" value="0" />
        <input type="checkbox"
               name="shipment[items][<?= (int) $_item->getOrderItemId() ?>]"
               value="<?= /* @noEscape */ $_item->getQty()*1 ?>" checked />
    </td>
    <?php endif; ?>
</tr>
