<!-- ko if: $row().show_home == 0 -->
<span class="brand-banner"><span translate="'No'"></span></span>
<!-- /ko -->
<!-- ko if: $row().show_home == 1 -->
<span class="brand-campaign"><span translate="'Yes'"></span></span>
<!-- /ko -->
