<!-- ko if: $row().type == 0 -->
<span class="brand-banner"><span translate="'Banner'"></span></span>
<!-- /ko -->
<!-- ko if: $row().type == 1 -->
<span class="brand-campaign"><span translate="'Campaign'"></span></span>
<!-- /ko -->
