<?php

/** @var Chiaki\Barcode\Block\Adminhtml\System\Config\Preview\LabelTemplate $block */

?>
<style>
    #barcode_barcode_label_preview {
        position: relative;
        height: 0;
    }

    #barcode_barcode_label_content, #barcode_barcode_label_css {
        height: 250px;
    }

    #barcode_barcode_label_preview iframe {
        position: absolute;
        height: 450px;
        width: 750px;
        left: -210px;
        display: none;
    }
</style>

<section id="barcode_barcode_label_preview">
    <iframe type="application/pdf" src=""></iframe>
</section>
