<?php

/** @var Chiaki\Barcode\Block\Adminhtml\System\Config\Preview\PaperTemplate $block */

?>

<style>
    #barcode_barcode_paper_preview {
        position: relative;
        height: 0;
    }

    #barcode_barcode_paper_preview iframe {
        position: absolute;
        height: 680px;
        width: 850px;
        left: -310px;
        display: none;
    }
</style>

<section id="barcode_barcode_paper_preview">
    <iframe type="application/pdf" src=""></iframe>
</section>
