<?php

/**
 * @var $block ReviewTab
 */

use Chiaki\Review\Block\Adminhtml\Order\View\Tab\ReviewTab;

$review = $block->getReviewModel();
?>

<div class="fieldset-wrapper order-information">
    <div>
        <h2>Customer Review</h2>
    </div>
    <div class="fieldset-wrapper-title">
       <span class="title"><?php /* @escapeNotVerified */
           echo __('Information for customer review') ?></span>
    </div>
    <table class="admin__table-secondary">
        <tbody>
        <?php echo $block->getChildHtml(); ?>
        <tr>
            <th><?= /* @noEscape */
                __('Rating:') ?></th>
            <td><?= /* @noEscape */
                $block->getRatingLabel($review->getRating()); ?></td>
        </tr>
        <tr>
            <th><?= /* @noEscape */
                __('Comment:') ?></th>
            <td><?= /* @noEscape */
                $review->getComment() ?></td>
        </tr>
        <tr>
            <th><?= /* @noEscape */
                __('Answers:') ?></th>
            <td><?= /* @noEscape */
                $review->getAnswer() ?></td>
        </tr>
        <tr>
            <th><?= /* @noEscape */
                __('Media:') ?></th>
            <td>
                <table>
                    <tbody>
                    <?php foreach ($review->getMedia() as $media): ?>
                        <tr>
                            <td><img src="<?= /* @noEscape */
                                $block->getImageUrl($media) ?>" height="auto" alt=""></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
