<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $_item = $block->getItem() ?>
<?php $_order = $block->getItem()->getOrder(); ?>
<tr>
    <td class="counterCell"></td>
    <td class="item-sku"><?= $block->escapeHtml($block->getSku($_item)) ?></td>
    <td class="item-info<?= ($block->getItemOptions() ? ' has-extra' : '') ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <?php if ($block->getItemOptions()) : ?>
            <?php foreach ($block->getItemOptions() as $option) : ?>
                <p><strong><em><?= $block->escapeHtml($option['label']) ?></em></strong>: <?= /* @noEscape */  nl2br($block->escapeHtml($option['value'])) ?></p>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) : ?>
            <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="item-unit"></td>
    <td class="item-qty"><?= (float) $_item->getQty() ?></td>
    <td class="item-price">
        <?= /* @noEscape */ $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($_item->getPrice(),2),true,false); ?>
    </td>
    <td class="item-subtotal">
        <?= /* @noEscape */ $block->getItemPrice($_item->getOrderItem()) ?>
    </td>
</tr>
