<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Downloadable\Block\Sales\Order\Email\Items\Downloadable */ ?>
<?php $_item = $block->getItem() ?>
<?php $_order = $block->getItem()->getOrder() ?>
<tr>
    <td class="counterCell"></td>
    <td class="item-sku"><?= $block->escapeHtml($block->getSku($_item)) ?></td>
    <td class="item-info<?= ($block->getItemOptions() ? ' has-extra' : '') ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <?php if ($block->getItemOptions()) : ?>
            <dl>
                <?php foreach ($block->getItemOptions() as $option) : ?>
                    <dt><strong><em><?= $block->escapeHtml($option['label']) ?></em></strong></dt>
                    <dd><?= $block->escapeHtml($option['value']) ?></dd>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php if ($links = $block->getLinks()->getPurchasedItems()) : ?>
            <dl>
                <dt><strong><em><?= $block->escapeHtml($block->getLinksTitle()) ?></em></strong></dt>
                <?php foreach ($links as $link) : ?>
                    <dd>
                        <?= $block->escapeHtml($link->getLinkTitle()) ?>&nbsp;
                        (<a href="<?= $block->escapeUrl($block->getPurchasedLinkUrl($link)) ?>"><?= $block->escapeHtml(__('download')) ?></a>)
                    </dd>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="item-unit"></td>
    <td class="item-qty"><?= (float) $_item->getQty() ?></td>
    <td class="item-price">
        <?= /* @noEscape */ $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($_item->getPrice(),2),true,false); ?>
    </td>
    <td class="item-subtotal">
        <?= /* @noEscape */ $block->getItemPrice($_item->getOrderItem()) ?>
    </td>
</tr>
