<?php

?>

<?php
/** @var Chiaki\Barcode\Block\Adminhtml\Product\Import\Template $block */

?>

<style>
    #barcode-import-modal, #barcode-import-message, #barcode-print-btn-div {
        display: none;
    }

    #barcode-import-modal label.data-grid-checkbox-cell-inner {
        position: relative;
    }

</style>

<div id="barcode-import-modal">
    <div class="page-main-actions" id="barcode-print-btn-div">
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="<?= /* @noEscape */
            __('Print') ?>">
                <div class="page-actions-buttons">
                    <button id="mass_print_barcode_csv"
                            title="<?= /* @noEscape */
                            __('Print') ?>"
                            type="button"
                            class="scalable primary">
                        <span><?= /* @noEscape */
                            __('Print') ?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="barcode-modal-form" class="page-columns">
        <?= /* @noEscape */
        $block->getChildHtml('barcode_import_modal_form') ?>
    </div>

    <div class="messages" id="barcode-import-message">
        <div class="message message-info info">
            <div data-ui-id="messages-message-info" id="message-content"></div>
        </div>
    </div>

    <div id="barcode-modal-csv-result"></div>

</div>

<script type="text/x-magento-init">
    {
        "#barcode-import-modal": {
            "Chiaki_Barcode/js/modal/import": {
                "gridUrl": "<?= /* @noEscape */
    $block->getAjaxUrl('grid') ?>",
                "printUrl": "<?= /* @noEscape */
    $block->getAjaxUrl('massprint') ?>"
            }
        }
    }


</script>
