<!-- ko if: $row().status == 0 -->
<span class="homebanner-disabled"><span translate="'Disabled'"></span></span>
<!-- /ko -->
<!-- ko if: $row().status == 1 -->
<span class="homebanner-enable"><span translate="'Enabled'"></span></span>
<!-- /ko -->
