<!-- ko if: $row().status == 0 -->
<span class="homebrand-disabled"><span translate="'Disabled'"></span></span>
<!-- /ko -->
<!-- ko if: $row().status == 1 -->
<span class="homebrand-enable"><span translate="'Enabled'"></span></span>
<!-- /ko -->
