<script>
    var objProductSupplier;
    require(["product_supplier"], function(){
        objProductSupplier = new AdminProductSupplier();
        objProductSupplier.init('<?php echo $this->getSaveUrl(); ?>','<?php echo $this->getPopupUrl(); ?>');
    });
</script>

<?php if ($this->getShowFilterMessage()): ?>
    <div id="messages">
        <div class="messages">
            <div class="message message-error error">
                <div data-ui-id="messages-message-error"><?php echo __('Please apply supplier OR sku filter to get the list'); ?></div>
            </div>
        </div>
    </div>
<?php endif; ?>

<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="save" title="save" type="button" class="action-default scalable primary" onclick="objProductSupplier.saveAll();"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Save'); ?></span>
        </button>
        <button id="import" title="import" type="button" class="action-default scalable" onclick="setLocation('<?php echo $this->getImportUrl(); ?>');" >
            <span><?php echo __('Import file'); ?></span>
        </button>
    </div>
</div>
