<?php // @codingStandardsIgnoreFile ?>
<?php
/** @var $block \Chiaki\SocialLogin\Block\Adminhtml\Customer\Edit\Tab\Social */
?>
<div class="fieldset-wrapper social-accounts">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @noEscape */ echo __('Social Accounts') ?></span>
    </div>
    <?php echo $block->getChildHtml(); ?>
</div>
