<td class="label">
    <label><?= __('Sorting Order') ?></label>
</td>
<td colspan="3">
    <table class="barcode-attribute-sort-order" id="barcode-attribute-sort-order">
        <?php foreach ($block->getPositions() as $key => $index) : ?>
            <tr>
                <th>
                </th>
                <td class="item-position">
                    <?= $index ?>
                    <div class="draggable"></div>
                    <input type="hidden"
                           name="<?= $block->getNamePrefix($key) ?>"
                           value="<?= __($index) ?>">
                </td>
                <th style="min-width: 69px; visibility: hidden;"></th>
            </tr>
        <?php endforeach ?>
    </table>
    <p class="note">
        <span><?= __('Drag and drop sorting options in the order you want them to appear for the customers.') ?></span>
    </p>
</td>
<script>
    require([
        'jquery',
        'collapsable'
    ], function ($) {
        $('#barcode-attribute-sort-order').sortable({
            axis: 'y',
            handle: '.item-position',
            items: 'tr',
            tolerance: 'pointer'
        });
    });
</script>
