<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var AssignBanners $block */
/** @var Banner $blockGrid */
/** @var SecureHtmlRenderer $secureRenderer */

use Coedo\OurBrands\Block\Adminhtml\Brand\AssignBanners;
use Coedo\OurBrands\Block\Adminhtml\Brand\Tab\Banner;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

$blockGrid        = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<div align="right">
    <button id="new" title="new" type="button" class="action-default scalable primary" onclick="window.location='<?= $block->escapeUrl($block->getUrl('brands/banner/new', ['from_brand' => true, 'brand_id' => $block->getBrand() ? $block->getBrand()->getId() : 0])) ?>'" >
        <span><?php echo __('Add New Campaign/Banner'); ?></span>
    </button>
</div>
<?= $block->getGridHtml() ?>
<input type="hidden" name="brand_banners" id="in_brand_banners"
       data-form-part="brands_form" value=""/>
<script type="text/x-magento-init">
    {
        "*": {
            "Coedo_OurBrands/brand/assign-banners": {
                "selectedBanners": <?= /* @noEscape */
    $block->getBannersJson() ?>,
                "gridJsObjectName": <?= /* @noEscape */
    '"' . $gridJsObjectName . '"' ?: '{}' ?>
            }
        }
    }

</script>
<!-- @todo remove when "UI components" will support such initialization -->
<?= /* @noEscape */
$secureRenderer->renderTag('script', [], "require('mage/apply/main').apply();", false) ?>
