#barcode-attribute-sort-order {
    margin-top: 2.2rem;
    tr {
        td, th {
            background: #efefef;
            border-bottom: 1px solid #fff;
            .draggable {
                color: #adadad;
            }
        }
        td:hover {
            cursor: move;
        }
        td.item-position {
            padding: 1rem;
            max-width:87px;
        }
        td:before {
            font-family:'Admin Icons';
            content:'\e63d';
        }
    }
}
