<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var AssignQuestions $block */
/** @var Question $blockGrid */
/** @var SecureHtmlRenderer $secureRenderer */

use Chiaki\CustomerSizeQuestion\Block\Adminhtml\QuestionSet\AssignQuestions;
use Chiaki\CustomerSizeQuestion\Block\Adminhtml\QuestionSet\Tab\Question;
use Magento\Framework\View\Helper\SecureHtmlRenderer;

$blockGrid        = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?= $block->getGridHtml() ?>
<input type="hidden" name="questionset_questions" id="in_questionset_questions"
       data-form-part="customersize_questionset_form" value=""/>
<script type="text/x-magento-init">
    {
        "*": {
            "Chiaki_CustomerSizeQuestion/questionset/assign-questions": {
                "selectedQuestions": <?= /* @noEscape */
    $block->getQuestionsJson() ?>,
                "gridJsObjectName": <?= /* @noEscape */
    '"' . $gridJsObjectName . '"' ?: '{}' ?>
            }
        }
    }

</script>
<!-- @todo remove when "UI components" will support such initialization -->
<?= /* @noEscape */
$secureRenderer->renderTag('script', [], "require('mage/apply/main').apply();", false) ?>
