
<section class="admin__page-section order-view-advanced-stock">
    <div class="admin__page-section-title">
        <span class="title"><?= /** @noEscape */ __('Prepare Status Check'); ?></span>
    </div>
    <div class="admin__page-section-content">
        <table class="data-grid" id="cache_grid_table">
            <thead>
            <tr>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Sku'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Product'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Qty Ordered'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Warehouse'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Qty Processing'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Qty Packed',); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?= /** @noEscape */ __('Status'); ?></span></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->getItems() as $item): ?>
                <?php list($status, $warehouse) = $block->getStatusWarehouse($item->getipi_parent_id()) ?>
                <tr>
                    <td class="a-left"><?= /** @noEscape */ $item->getSku(); ?></td>
                    <td class="a-left"><?= /** @noEscape */ $item->getName(); ?></td>
                    <td class="a-center"><?= /** @noEscape */ (int)$item->getqty_ordered(); ?></td>
                    <td class="a-center"><?= /** @noEscape */ $warehouse; ?></td>
                    <td class="a-center"><?= /** @noEscape */ $item->getipi_qty(); ?></td>
                    <td class="a-center"><?= /** @noEscape */ $item->getpacked_qty(); ?></td>
                    <td class="a-center"><?= /** @noEscape */ $status; ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</section>

