<?php

?>
<?php
/* @var $block \Magento\Email\Block\Adminhtml\Template\Preview */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?= $block->escapeHtml(__('PDF Preview')) ?></title>
</head>
<body>
    <?= $block->getChildHtml('content') ?>
</body>
</html>
