<?php

?>

<?php
/** @var Chiaki\Barcode\Block\Adminhtml\Product\MassAction\Template $block */

?>

<style>
    #barcode-print-modal,
    .field-barcode_label_template,
    .field-paper_template,
    .field-preview_button {
        display: none;
    }

    #barcode_preview_paper {
        width: 65%;
        height: 800px;
        margin: auto;
        display: none;
    }

    #barcode-modal-form {
        margin-top: 50px;
    }

    .barcode-use-config-settings {
        margin-top: 10px;
    }
</style>

<div id="barcode-print-modal">
    <div class="page-main-actions">
        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="<?= /* @noEscape */
            __('Print') ?>">
                <div class="page-actions-buttons">
                    <button id="mass_print_barcode"
                            title="<?= /* @noEscape */
                            __('Print') ?>"
                            type="button"
                            class="scalable primary">
                        <span><?= /* @noEscape */
                            __('Print') ?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="barcode-modal-form" class="page-columns">
        <?= /* @noEscape */
        $block->getChildHtml() ?>
        <div>
            <iframe id="barcode_preview_paper" type="application/pdf" src=""></iframe>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#barcode-print-modal": {
            "Chiaki_Barcode/js/modal/mass-print": {
                "previewUrl": "<?= /* @noEscape */
    $block->getAjaxUrl() ?>"
            }
        }
    }

</script>
