<?php if ($this->canDisplay()): ?>

    <center>
        <button title="Orders" type="button" onclick="packingObj.commitPacking();" class="action-default scalable action-primary" style="height: 50px; font-size: 24px;">
            <span><?php echo __('Commit packing'); ?></span>
        </button>
    </center>
<?php endif; ?>

<p>&nbsp;<p>
<p>&nbsp;</p>
<p>&nbsp;<p>
<p>&nbsp;</p>
