<?php if ($this->canDisplay()): ?>
    <table class="tbl-order">
        <tr>
            <th colspan="7" style="background-color: #FF9900;"><a href="<?php echo $this->getOrderViewUrl(); ?>" style="color: white; text-decoration: underline;   "><?php echo __('Order #%1', $this->currentOrderInProgress()->getOrder()->getincrement_id()); ?></a></th>
        </tr>
        <tr>
            <th width="15%"><?php echo __('Warehouse<br> %1', $this->getWarehouseName()); ?></th>
            <th width="15%"><?php echo __('Ship to<br> %1', $this->currentOrderInProgress()->getCustomerName()); ?></th>
            <th width="15%">
                <?php echo __('Shipping method<br> %1', $this->currentOrderInProgress()->getOrder()->getShippingDescription()); ?>
                <?php if ($this->canEditShippingMethod()): ?>
                    <img width="24" height="24" src="<?php echo $this->getViewFileUrl('BoostMyShop_OrderPreparation::images/edit.png'); ?>" onclick="packingObj.editShippingMethod('<?php echo $this->getChangeShippingMethodUrl(); ?>');">
                <?php endif; ?>
            </th>
            <th width="15%">
                <?php if ($this->currentOrderInProgress()->getOrder()->getShippingAddress()): ?>
                    <?php echo __('Shipping country<br> %1', $this->currentOrderInProgress()->getOrder()->getShippingAddress()->getcountry_id()); ?>
                <?php endif; ?>
            </th>
            <th width="15%"><?php echo __('Status<br> %1', $this->currentOrderInProgress()->getOrder()->getStatus()); ?></th>
            <th width="15%"><?php echo __('Products count<br> %1', $this->currentOrderInProgress()->getProductsCount()); ?></th>
            <th width="15%">
                <?php echo __('Total weight<br> %1', $this->currentOrderInProgress()->getip_total_weight()); ?>
                <?php if($this->isPacked()): ?>
                    <img width="24" height="24" src="<?php echo $this->getViewFileUrl('BoostMyShop_OrderPreparation::images/edit.png'); ?>" onclick="packingObj.editShipmentWeight('<?php echo $this->getEditShipmentWeightUrl(); ?>');">
                <?php endif; ?>
            </th>
        </tr>
    </table>
<?php endif; ?>