<form class="update-shipment-weight" action="<?php echo $this->getUpdateShipmentWeightUrl()?>">
    <div class="div-shipment">
        <span class="title"><?php echo __('Total weight');?></span>
        <input class="div-shipment-weight" name="shipment_weight" type="text" value="<?php echo $this->getCurrentWeight()?>" style="margin: 20px;"/>
        <button type="submit" class="action-default scalable primary"><?php echo __('Submit'); ?></button>
    </div>
</form>