<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Chiaki\Vnpay\Block\Adminhtml\Order\View */
?>

<?php if ($block->getTransactionUrl()): ?>
<div id="transaction-detail">
    <a href="<?= $block->escapeUrl($block->getTransactionUrl()) ?>"><?= $block->escapeHtml(__("View Detail")) ?></a>
</div>
<?php endif; ?>
